<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
   <div class="container">
       <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
               <a href="www.devonjohnson.io"><img data-aos="fade-in" src="/assets/portfolio-logo.png"/></a>
           </button>
           <a href="/home/work"  href="/home/work">
               <img data-aos="fade-right" class="navbar-brand page-scroll" src="/assets/portfolio-logo.png"/>
           </a>
       </div>
       <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
           <ul class="nav navbar-nav">
               <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
               <li class="hidden">
                   <a href="#page-top"></a>
               </li>
               <li>
                   <a class="page-scroll" href="/">HOME</a>
               </li>
               <li>
                   <a class="page-scroll" href="https://github.com/djohnson0308">GITHUB</a>
               </li>
               <li>
                   <a class="page-scroll" href="https://www.linkedin.com/in/devon-l-johnson-80a76884/">LINKEDIN</a>
               </li>
           </ul>
       </div>
   </div>
   <!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro">
   <div class="intro-body">
       <div class="container">
           <div class="row">
               <div class="col-md-8 col-md-offset-2">
                   <h1 data-aos="fade-up" class="brand-heading">Work</h1>
               </div>
               <div class="col-md-1 col-md-offset-11 col-xs-2 col-xs-offset-10 volume">
                 <a class="page-scroll volume" data-aos="fade-up"><i class="icon ion-ios-volume-high" id="mute" onclick="document.getElementById('player').muted=!document.getElementById('player').muted"></i></a>
                 <link href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
                 <audio id="player" loop="true">
                   <source src="<%= audio_path '03 Destiny.m4a'%>"></source>
                   <source src="<%= audio_path '03 Destiny 1.mp3'%>"></source>
                 </audio>
               </div>
           </div>
       </div>
   </div>
</header>

<!-- About Section -->
<section id="about" class="about">
   <div class=container>
     <div class="row">
       <div class="col-lg-12 text-center">
         <h2>What I've been up to.</h2>
       </div>
       <div class="col-lg-12 text-center">
         <h3>Here's a selection of some of my recent work.</h3>
       </div>
     </div>
   </div>
</section>

 <!-- Portfolio -->
<section id="portfolio" class="portfolio-1">
    <div class="container">
        <div class="row">
            <div class="display col-lg-12 text-center">
              <div class="col-md-6 col-md-offset-3 text-center">
                <a href="#"><img data-aos="fade-up" data-aos-duration="10000" class="img-portfolio img-responsive" src="/assets/tagsnooper-v1.png"></a>
              </div>
            </div>
              <div class="col-lg-12 text-center">
                <h1>TagSnooper</h1>
                <h2>Front-End and Back-End Development</h2>
                <div class="info col-md-6 col-md-offset-3" style="font-family: 'myriad-set-pro_thin'">
                  <p>A web application built with Ruby, Javascript, Ruby on Rails, HTML5, CSS3, and Twitter’s API where users can find the most relevant hashtags to their topic of interest.</p>
                </div>
              </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<section id="portfolio" class="portfolio-2">
   <div class="container">
       <div class="row">
           <div class="display col-lg-12 text-center">
             <div class="col-md-6 col-md-offset-3 text-center">
               <a href="#"><img data-aos="fade-up" data-aos-duration="10000" class="img-portfolio img-responsive" src="/assets/sheeley-home.png"></a>
             </div>
           </div>
             <div class="col-lg-12 text-center" style="color: #f1f1f1;">
               <h1>Sheeley Photography</h1>
               <h2>Web Development and Design UI / UX</h2>
               <div class="info col-md-6 col-md-offset-3" style="font-family: 'myriad-set-pro_thin'">
                 <h3>A Real Estate Photography website I built for a client using Ruby, Javascript, Ruby on Rails, Bootstrap, HTML5, and CSS3.</h3>
               </div>
             </div>
       </div>
       <!-- /.row -->
   </div>
   <!-- /.container -->
</section>
<section id="portfolio" class="portfolio-3">
   <div class="container">
       <div class="row">
           <div class="display col-lg-12 text-center">
             <div class="col-md-6 col-md-offset-3 text-center product">
               <a href="#"><img data-aos="fade-up" data-aos-duration="10000" class="img-portfolio img-responsive" src="/assets/local-lilly-home.png"></a>
             </div>
           </div>
             <div class="col-lg-12 text-center">
               <h1>Local Lilly</h1>
               <h2>Web Design</h2>
               <div class="info col-md-6 col-md-offset-3" style="font-family: 'myriad-set-pro_thin'">
                 <h3>A winning mockup I created for a web design contest using HTML5, CSS3, Bootstrap, and Adobe Illustrator. The client provided a name and a concept. She envisioned a platform that will find local infuencers that can help you promote your business.</h3>
               </div>
             </div>
       </div>
       <!-- /.row -->
   </div>
   <!-- /.container -->
</section>
<section id="portfolio" class="portfolio-4">
   <div class="container">
       <div class="row">
           <div class="display col-lg-12 text-center">
             <div class="col-md-6 col-md-offset-3 text-center">
               <a href="#"><img data-aos="fade-up" data-aos-duration="10000" class="img-portfolio img-responsive" src="/assets/music-blog-home.png"></a>
             </div>
           </div>
             <div class="col-lg-12 text-center">
               <h1>Music Project</h1>
               <h2>Front-End and Back-End Development</h2>
               <div class="info col-md-6 col-md-offset-3" style="font-family: 'myriad-set-pro_thin'">
                 <h3>I'm currently working on a music website as a personal side project. It will feature new music, upcoming artists, and more. I will be implementing 'infinite scrolling' and AngularJS features to the site.</h3>
               </div>
             </div>
       </div>
       <!-- /.row -->
   </div>
   <!-- /.container -->
</section>
<footer>
  <div class="container">
    <div class="footer-logo-2 col-md-4 col-md-offset-4 text-center">
      <img href="/home/work" src="<%= asset_path 'portfolio-logo.png' %>"/>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="col-md-3 col-md-offset-1"><a href="/"><h3 class="nav-title">Home</h3></a></div>
        <div class="col-md-3 col-md-offset-1"><a href="https://github.com/djohnson0308"><h3 class="nav-title">Github</h3></a></div>
        <div class="col-md-3 col-md-offset-1"><a href="https://www.linkedin.com/in/devon-l-johnson-80a76884/"><h3 class="nav-title">LinkedIn</h3></a></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <h5>© 2017 Devon Johnson. All rights reserved.</h5>
      </div>
    </div>
  </div>
</footer>

<script type="text/javascript">
function collapseNavbar() {
    if ($(".navbar").offset().top > 50) {
        $(".navbar-fixed-top").addClass("top-nav-collapse");
    } else {
        $(".navbar-fixed-top").removeClass("top-nav-collapse");
    }
}


$(window).scroll(collapseNavbar);
$(document).ready(collapseNavbar);

// LL carousel display
var images = [];
images[0] = "/assets/local-lilly-home.png";
images[1] = "/assets/local-lilly-pricing.png";
images[2] = "/assets/local-lilly-footer.png";
images[3] = "/assets/local-lilly-home.png";
images[4] = "/assets/local-lilly-pricing.png";
images[5] = "/assets/local-lilly-footer.png";


var i = 0;
setInterval(fadeDivs, 5000);

function fadeDivs() {
    i = i < images.length ? i : 0;
    console.log(i)
    $('.product img').fadeOut(900, function(){
        $(this).attr('src', images[i]).fadeIn(900);
    })
    i++;
}

</script>
