

.light {
  font-weight: 400;
}
.navbar-custom {
  margin-bottom: 0;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
.navbar-custom .navbar-brand {
  font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom a {
  color: white;
  padding-top: 25px !important;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  opacity: .55;
}
.navbar-custom .nav li a:hover {
  color: #fff;
  outline: none;
  background-color: transparent;
  opacity: 1;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}
.navbar-custom .nav li.active a:hover {
  color: white;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding-top: 10px;
    border-bottom: none !important;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 10px;
    border-bottom: none !important;
    font-size: 20px;
    -webkit-box-shadow: 0px 10px 10px 0px rgba(16,25,37,0.4);
    -moz-box-shadow: 0px 10px 10px 0px rgba(16,25,37,0.4);
    box-shadow: 0px 10px 10px 0px rgba(16,25,37,0.4);
  }
  .top-nav-collapse img {
    height: 3.75em !important;
  }
  .top-nav-collapse li a {
    opacity: 1 !important;
    padding-top: 25px;
    font-size: 14px !important;
    padding: 0px 0px 4px;
    margin: 0px 15px 11px 15px;
  }
  .top-nav-collapse li a:hover {
    color: #fff !important;
    border-bottom: 1px solid #b6fcd5;
  }
}
.intro {
  display: table;
  width: 100%;
  height: 100%;
  padding: 100px 0;
  text-align: center;
  color: white;
  background: image-url('underwater.jpeg') no-repeat bottom center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  // -o-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
  height: 50em;
  padding-top: 18em;
}
.intro .intro-body .brand-heading {
  font-size: 20px;
}
.intro .intro-body .intro-text {
  font-size: 18px;
}
@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 0;
  }
  .intro .intro-body .brand-heading {
    font-size: 50px;
  }
  .intro .intro-body .intro-text {
    font-size: 26px;
  }
}
