// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: "myriad-set-pro_ultralight";
  background-color: #15212f;
}
section {
  border: none !important;
}

p {
  font-size: 18px;
  letter-spacing: 0em;
  font-family: 'myriad-set-pro_thin';
  font-weight: 400;
  line-height: 1.6;
  font-style: normal;
}
h2 {
  font-size: 40px;
}
h3{
  font-size: 32px;
}
h5 {
  font-size: 15px;
  color: #cccccc;
  margin-top: 10em;
}
audio {
}
.nav {
  font-size: 15px;
}
.navbar {
}
.header {
    background: image-url('rock-island.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
}
.logo {
  height: 5em;
  position: relative;;
  left: -15em;
}
.hsContent {
	max-width: 700px;
	position: absolute;
  left: 55%;
  // left: 44%;
}
.hsContent h2 {
  font-size: 1.65em;
}
.icon {
  font-size: 25px;
}
button {
  background: transparent;
  border: none;
}
.controls i {
  padding-left: 4.95em;
  margin-right: .2em;
}
.icon.ion-ios-volume-high {
  font-size: 45px;
  color: rgba(255,255,255,.40);
}
.icon.ion-ios-volume-low {
  font-size: 45px;
  color: rgba(255,255,255,.40);
  margin-right: .57em;
}
#slide-1 .hsContent {
	bottom: 0;
	top: auto;
  background: rgba(255,255,255,0.3);
  color: rgba(255,255,255,.60);
  border-radius: 5px;
  padding: 12px;
  padding-left: 1.5em;

}
#slide-1 .greeting {
  width: 19em;
}
#blur {
 // filter:blur(5px);
 -webkit-backdrop-filter: blur(1.5px);
}
#slide-2 {
  padding-top: 15em;
  padding-bottom: 10em;
  text-align: center
}
#slide-2 .col-md-4 {
  padding-bottom: 5em;
}
.about {
  color: #fff;
}
.responsive-design-icon {
  padding-top: 1em;
  height: 14em;
}
.item.bottom-text {
  padding-top: 21em !important;
}
#slide-3 {
  color: #fff;
  padding-top: 10em;
  padding-bottom: 15em;
}
#slide-3 .top-text {
  padding-top: 15em;
}
#slide-3 p {
  margin-top: 2em;
}
#slide-3 .bottom-text {
  padding-top: 20em;
}
#slide-4 {
  color: #fff;
  padding-top: 10em;
  padding-bottom: 20em;
}
#slide-4 .contact {
  padding-top: 5em;
}
#slide-4 p {
  padding-top: 1em;
}
#slide-4 .email {
  padding-top: 3em;
}
#slide-4 .btn {
  border: 1px solid;
  font-size: 1.5em;
  letter-spacing: .75px;
}
#slide-4 .btn:hover {
  color: #659bca;
}
footer {
  padding-top: 12em;
  padding-bottom: 1em;
  background-color: #101925;
}
footer .footer-logo {
  padding-bottom: 0.5em;
  bottom: -10em;
}
footer h3 {
  color: honeydew;
  font-size: 1.75em;
}
footer img {
  height: 3em;
}
footer .col-md-6 {
  padding-top: 4em;
}
